.root {
  background-image: url('../public/images/fieldsStatic.svg');
  /* overflow: hidden; */
  background-position-x: center;
}

.rootContainer {
    min-height: 80vh;
    width: 100%;
    background-color: white;
    border-radius: 1rem 1rem 0 0;
    padding: 5rem 4rem
}

.sfsbfb {
    text-align: center;
    font-size: 4rem;
    font-weight: 500;
    color: #001d3f;
    animation: sfsbgbAni 1s;
    animation-delay: 1s;
}

.title {
    font-size: 5rem;
    font-weight: 600;
    margin-block: 3rem;
    background-image: var(--gradient);
    background-clip: text;
    color: transparent;
    text-align: center;
}

.teamCardContainer {
    width: 75%;
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
}

@keyframes sfsbgbAni {
    from{
        transform: scale(2);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .rootContainer {
        padding:3rem 1rem;
    }
    .sfsbfb {
        font-size: 2.0rem;
    }
    .title {
        font-size: 3rem;
    }
    .teamCardContainer {
        width: 100%;
    }
}