.root {
    background-image: url('../public/images/fields.svg');
    background-position-x: center;
    /* background-size: cover; */
}

.magical {
    padding: 3rem 1rem;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    margin-top: -1rem;
    border-radius: 1rem 1rem 0 0;
    color: white;
    background-image: url('../public/images/particles.svg');
    background-attachment: fixed;
}


.title {
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    margin-top: 3rem;
    color: white;
}

.content {
    color: white;
    margin-top: 3rem;
    max-width: 100%;
    margin-inline: 0rem;
    line-height: 1.75rem;
    display: flex;
    align-items: center;
}

.content > div {
    margin-left: 1rem;
}

@media (max-width: 768px) {
    .root {
        background-image: url('../public/images/fieldsStatic.svg');
        background-position: center;
        background-attachment: fixed;
    }
    .title {
        font-size: 2rem;
        margin-top: 1rem;
    }

    .content {
        flex-direction: column;
    }

    .content > div {
        margin-top: 1rem;
    }

    .magical {
        font-size: 2rem;
    background-image: url('../public/images/particlesStatic.svg');
    }
}