.root {
    height: calc(100vh - 8rem);
    width: 100vw;
    margin-top: -5rem;
    /* overflow: hidden; */
}


@media (max-width: 768px) {
    .root {
        width: 100vw;
        height: calc(100vh - 12rem);
    }
}
