.root {
    width: 99vw;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
    z-index: 100;
    position: sticky;
    top: 0;
    font-variant: small-caps;
}

.rootExtended {
    width: 99vw;
    height: 22rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
    z-index: 100;
    position: sticky;
    top: 0;
    font-variant: small-caps;
}

.container {
    margin-right: -0.75rem;
    width: 80vw;
    height: 4rem;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.3));
    backdrop-filter: blur(6px);
    border-radius: 1rem;
    transition: all 300ms ease;
    z-index: 100;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    overflow: hidden;
}

.containerExtended {
    margin-right: -0.75rem;
    width: 80vw;
    height: 20rem;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.3));
    backdrop-filter: blur(6px);
    border-radius: 1rem;
    transition: all 300ms ease;
    z-index: 100;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    overflow: hidden;
}

.brandImg {
    height: 3.5rem;
    width: calc(912 / 273 * 3.5rem);
}

.hamburger {
    height: 2.5rem;
    margin-right: 1rem;
    cursor: pointer;
}

.mainMenu {
    height: 4rem;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1rem;
}

.navLinks {
    display: flex;
    align-items: center;
}

.navLink {
    margin-inline: 0.75rem;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    transition: all 250ms ease;
    color: #001d3f;
    /* color: #00b2ff;
    text-shadow: 1px 1px 4px rgba(0, 178, 255, 0.5); */
}

.navLink:hover {
    color: #FECD05;
    transform: scale(1.2);
}

.navLink::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.8px;
    bottom: 0;
    left: 0;
    background-color: #FECD05;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}


.navLink:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.cta {
    padding: 0.8rem;
    margin-inline: 1rem;
    /* background-image: var(--gradient); */
    background-image: linear-gradient(to right, #0059FF, #00B2FF);
    background-size: 200%;
    background-position: 0;
    color: white;
    border-radius: 1rem;
    transition: all 250ms ease-out;
    cursor: pointer;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.cta:hover {
    background-image: linear-gradient(to left, #0059FF, #00B2FF);
    background-position: 100%;
    padding: 0.8rem 1rem;
    /* margin-left: 2rem; */
    -webkit-user-select: none; 
}

.moMeCon {
    padding: 1rem 2rem;
    height: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.1rem;
    font-weight: 500;
}

.moMeLink {
    -webkit-user-select: none; 
}

@keyframes slide-down {
    from {
        transform: translateY(-8rem);
    }
    to {
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .container {
        width: 90vw;
        align-items: center;
    }
    
    .containerExtended {
        width: 90vw;
        align-items: center;

    }
}