.root {
    width: 75vw;
    height: 250px;
    margin-block: 3rem;
    padding: 1rem 1rem;
    background-color: hsl(198, 100%, 80%);
    border-radius: 1rem;
    font-size: 2rem;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .root {
        width: 90vw;
        font-size: 1.5rem;
        margin-left: -2rem;
    }
}