.root {
    width: 75vw;
    height: 200px;
    margin: 2.5rem 0rem;
    padding: 1rem;
    background-color: #ccdeff;
    border-radius: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .root {
        width: 80vw;
        font-size: 1.5rem;
    }
}